@model IEnumerable<Vergaderruimte>
@{
    ViewData["Title"] = "Index";
}

<h2>Reserveer een vergaderruimte</h2>
<div id="zoek">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="aantalPersonen" class="control-label">Zoek een vergaderruimte voor </label>
                <input type="number" name="aantalPersonen" id="aantalPersonen" placeholder="aantal" value=@ViewData["aantalPersonen"] style="border:1px solid #dedede" /> <b>personen</b>&nbsp;&nbsp;
                <input type="submit" value="zoek" class="btn btn-default" />
            </div>
        </form>
        @if (Model.Count() == 0)
        {
            <p>Geen vergaderruimtes gevonden</p>
        }
        else
        {
            @foreach (var item in Model)
            {

                <div class="col-md-4">
                    <p class="text-center"><strong>@item.Naam</strong></p>
                    <p class="text-center small">Maximaal @item.MaximumAantalPersonen personen</p>
                    <img src="~/images/@(item.VergaderruimteType.ToString()).jpg" alt="meetingroom" class="room" />
                    <div class="text-center btn-reserveer"><a class="btn btn-default" asp-controller="Reservatie" asp-action="Reserveer" asp-route-id="@item.Id">Reserveer</a></div>
                </div>
            }
        }

    </div>
    </div>

